[buildout]
parts = test
develop = .
find-links = http://download.zope.org/distribution

[test]
recipe = zc.recipe.testrunner
eggs = zc.form
defaults = "--tests-pattern [fn]?tests --exit-with-status".split()
